<div class="container-fluid">
  <div>
  <div *ngFor="let course of courses">
    <ul class="list-group">
      <div *ngFor="let enrollment of sections">
        <li class="list-group-item" *ngIf="course.id===enrollment.section.courseId">
          Enrolled:  <a routerLink='/course/{{course.id}}'>Course : {{course.title}} </a>
        </li>
      </div>
    </ul>
  </div>
</div>
<h1>
    White Board
  </h1>

  <a routerLink="/login">Login</a> &nbsp; &nbsp;<a routerLink="/register">Register</a>&nbsp; &nbsp;<a routerLink="/profile">Profile</a>

  <app-course-grid></app-course-grid>
</div>
