<h1>Navigator</h1>
<div class="row">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item active">
        Courses</li>
      <li (click)="selectCourse(course.id)"
          class="list-group-item webdev"
          [ngClass]="{'active': course.id=== selectedCourseId}"
          *ngFor="let course of courses">
        {{course.title}}</li>
    </ul>
  </div>
  <div class="col-3"><ul class="list-group">
    <li class="list-group-item active">
      Modules </li>
    <li (click)="selectModule(module.id)"
      class="list-group-item webdev"
        [ngClass]="{'active': module.id=== selectedModuleId}"
        *ngFor="let module of modules">
      {{module.title}} </li>
  </ul>
  </div>
  <div class="col-3">Lessons</div>
  <div class="col-3">Widgets</div>
</div>
